/* font-family: 'Marck Script', cursive;
font-family: 'Poiret One', cursive; */

h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
}

h2 {
   font-family: 'Poiret One', cursive;  
   text-align: center;
}